{% extends "layout.html" %}
{% block title %}
    index
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"> {#for indexing#}
    <link rel="stylesheet" href="/css/jstree.min.css">
    <link rel="stylesheet" href="/css/index.css">

    <script src="/js/jstree.min.js"></script>
    <script src="/js/index.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h1>Welcome</h1>
        </div>
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
        </div>
        <div class="row">
            <div class="hidden-xs col-sm-3" id="tree"></div>
            <div class="col-xs-12 col-sm-9" id="files">
                <div class="file folder">Apps</div>
                <div class="file folder">Photos</div>
                <div class="file">Foo</div>
                <div class="file">Bar</div>
                <div class="file">Donald Trump</div>
            </div>
        </div>
    </div>
{% endblock %}