{% extends "layout.html" %}
{% block title %}
    index
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"> {#for indexing#}
    <link rel="stylesheet" href="/css/index.css">

    <script src="/js/index.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h1>Welcome</h1>
        </div>
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#">Is</a></li>
                <li><a href="#">Planned</a></li>
            </ol>
        </div>
        <div class="row">
            <div class="hidden-xs col-sm-3" id="tree">
                Tree is planned
            </div>
            <table class="col-xs-12 col-sm-9 table" id="files-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody id="files"></tbody>
            </table>
        </div>
    </div>
{% endblock %}